body {
    background-color: #e1e5e9; /* Color de fondo suave */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgb(225, 222, 222);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    height: 100vh; /* Altura completa */
    background-color: #343a40; /* Color de fondo oscuro */
    color: white; /* Color del texto */
}

.sidebar a {
    color: white; /* Color de los enlaces */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.sidebar a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
    color: #4592e0; /* Cambia el color al pasar el mouse */
}

.sidebar .nav-link {
    color: #605e5e; /* Color de los enlaces */
    transition: background-color 0.3s ease; /* Transición suave */
}

.sidebar .nav-link:hover {
    background-color: #4592e0; /* Color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
}

.sidebar .nav-link.active {
    background-color: #007bff; /* Color de fondo para el enlace activo */
    color: white; /* Color del texto activo */
}

.sidebar h4 {
    color: #007bff; /* Color del título "Administrador" */
    font-weight: bold; /* Negrita */
}

.table-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
.table thead th {
    background-color: #007bff;
    color: white;
}
.table tbody tr:nth-child(odd) {
    background-color: #e9ecef;
}

/* bienestar.css */

/* Estilos específicos para la página de bienestar */
.carousel-item img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: 400px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.carousel-caption {
    color: black; /* Cambia el color del texto a negro */
}

/* styles.css */

/* Estilos generales */
.navbar {
    margin-bottom: 20px;
}

footer {
    padding: 20px 0;
}
.dropdown-item {
    background-color: #190394; /* Color de fondo por defecto */
    color: rgb(174, 174, 174); /* Color del texto por defecto */
}
.dropdown-item:hover {
    background-color: #0146b5; /* Cambia el color de fondo al pasar el mouse */
    color: black; /* Cambia el color del texto al pasar el mouse */
}
/* Otros estilos generales que necesites */
